allow-file=root
allow-git=root
allow-remote=root
save-exact=true
strict-allow-scripts=true
min-release-age=1
min-release-age-exclude[]=@maschwenk/tsrs@0.8.0-ts7.1.0-dev.20260929
min-release-age-exclude[]=@maschwenk/tsrs-darwin-arm64@0.8.0-ts7.1.0-dev.20260929
min-release-age-exclude[]=@maschwenk/tsrs-linux-arm64@0.8.0-ts7.1.0-dev.20260929
min-release-age-exclude[]=@maschwenk/tsrs-linux-x64@0.8.0-ts7.1.0-dev.20260929
