allow-file=root
allow-git=root
allow-remote=root
save-exact=true
strict-allow-scripts=true
min-release-age=1
min-release-age-exclude[]=@maschwenk/tsrs@0.8.0-ts7.1.0-dev.20260929
min-release-age-exclude[]=@maschwenk/tsrs-darwin-arm64@0.8.0-ts7.1.0-dev.20260929
min-release-age-exclude[]=@maschwenk/tsrs-linux-arm64@0.8.0-ts7.1.0-dev.20260929
min-release-age-exclude[]=@maschwenk/tsrs-linux-x64@0.8.0-ts7.1.0-dev.20260929
min-release-age-exclude[]=@rolldown/binding-android-arm-eabi@1.2.13
min-release-age-exclude[]=@rolldown/binding-android-arm64@1.2.13
min-release-age-exclude[]=@rolldown/binding-darwin-arm64@1.2.13
min-release-age-exclude[]=@rolldown/binding-darwin-x64@1.2.13
min-release-age-exclude[]=@rolldown/binding-freebsd-x64@1.2.13
min-release-age-exclude[]=@rolldown/binding-linux-arm-gnueabihf@1.2.13
min-release-age-exclude[]=@rolldown/binding-linux-arm64-gnu@1.2.13
min-release-age-exclude[]=@rolldown/binding-linux-arm64-musl@1.2.13
min-release-age-exclude[]=@rolldown/binding-linux-ppc64-gnu@1.2.13
min-release-age-exclude[]=@rolldown/binding-linux-s390x-gnu@1.2.13
min-release-age-exclude[]=@rolldown/binding-linux-x64-gnu@1.2.13
min-release-age-exclude[]=@rolldown/binding-linux-x64-musl@1.2.13
min-release-age-exclude[]=@rolldown/binding-openharmony-arm64@1.2.13
min-release-age-exclude[]=@rolldown/binding-win32-arm64-msvc@1.2.13
min-release-age-exclude[]=@rolldown/binding-win32-x64-msvc@1.2.13
min-release-age-exclude[]=rolldown@1.2.13
