allow-file=root
allow-git=root
allow-remote=root
save-exact=true
strict-allow-scripts=true
min-release-age=1
min-release-age-exclude[]=ata-validator@1.27.0
min-release-age-exclude[]=@ata-validator/native-darwin-arm64@1.27.0
min-release-age-exclude[]=@ata-validator/native-darwin-x64@1.27.0
min-release-age-exclude[]=@ata-validator/native-linux-arm64-gnu@1.27.0
min-release-age-exclude[]=@ata-validator/native-linux-arm64-musl@1.27.0
min-release-age-exclude[]=@ata-validator/native-linux-x64-gnu@1.27.0
min-release-age-exclude[]=@ata-validator/native-linux-x64-musl@1.27.0
min-release-age-exclude[]=@ata-validator/native-win32-x64@1.27.0
